{% extends 'base.html' %}
{% load static %}

{% block title%}Blog |{% endblock%}

{% block styles %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

        {% for post in object_list %}
            <article class="entry">

              <div class="entry-img">
                <img src="{{ post.header_image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"> <a href="#">{{ post.category }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#">{{ post.post_date }}</time></a></li>
                  <!--<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li>-->
                </ul>
              </div>

              <div class="entry-content">
                {{ post.body|truncatewords:50|safe }}
                <div class="read-more">
                  <a href="{% url 'post-detail' post.pk %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            {% endfor %}




            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            {% include 'sidebar.html' %}

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->


{% endblock %}