{% extends 'base.html' %}
{% load static %}

{% block title%}{{ post.title }} |{% endblock%}

{% block styles %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!--
  <header id="headerr" class="d-none d-md-flex fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
      </div>

      <nav id="navbarr" class="navbarr">
        <ul>
          <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
  </header>-->

<main id="main">

    <!-- ======= Blog Header ======= -->
    <div class="header-bg page-area">
        <div class="container position-relative">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content text-center">
                <div class="header-bottom">
                  <div class="layer2">
                    <h1 class="title2">{{ post.title }}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Blog Header -->
  
      <!-- ======= Blog Page ======= -->
      <div class="blog-page area-padding">
        <div class="container">

            <!-- Start single blog -->
            <div class="col-md-8 col-sm-8 col-xs-12" style="margin-left: auto; margin-right: auto;">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <!-- single-blog start -->
                  <article class="blog-post-wrapper">
                    <div class="post-thumbnail">
                      <img src="{{ post.header_image.url }}" alt="" />
                    </div>
                    <div class="post-information">
                      <h2>{{ post.title }}</h2>
                      <div class="entry-meta">
                        <span class="author-meta"><i class="bi bi-person"></i> <a href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a></span>
                        <span><i class="bi bi-clock"></i> {{ post.post_date }}</span>
                        <span><i class="bi bi-chat"></i> <a href="#">6 comments</a></span>
                      </div>
                      <div class="entry-content">
                        {{ post.body|safe }}
                      </div>
                    </div>
                  </article>
                  <div class="clear"></div>
                  <div class="single-post-comments">
                    <div class="comments-area">
                      <div class="comments-heading">
                        <h3>6 comments</h3>
                      </div>
                      <div class="comments-list">
                        <ul>
                          <li class="threaded-comments">
                            <div class="comments-details">
                              <div class="comments-list-img">
                                <img src="assets/img/blog/b02.jpg" alt="post-author">
                              </div>
                              <div class="comments-content-wrap">
                                <span>
                                  <b><a href="#">demo</a></b>
                                  Post author
                                  <span class="post-time">October 6, 2014 at 4:25 pm</span>
                                  <a href="#">Reply</a>
                                </span>
                                <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="comments-details">
                              <div class="comments-list-img">
                                <img src="assets/img/blog/b02.jpg" alt="post-author">
                              </div>
                              <div class="comments-content-wrap">
                                <span>
                                  <b><a href="#">admin</a></b>
                                  Post author
                                  <span class="post-time">October 6, 2014 at 6:18 pm </span>
                                  <a href="#">Reply</a>
                                </span>
                                <p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor. Fusce ac sapien bibendum, scelerisque libero nec</p>
                              </div>
                            </div>
                          </li>
                          <li class="threaded-comments">
                            <div class="comments-details">
                              <div class="comments-list-img">
                                <img src="assets/img/blog/b02.jpg" alt="post-author">
                              </div>
                              <div class="comments-content-wrap">
                                <span>
                                  <b><a href="#">demo</a></b>
                                  Post author
                                  <span class="post-time">October 6, 2014 at 7:25 pm</span>
                                  <a href="#">Reply</a>
                                </span>
                                <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="comment-respond">
                      <h3 class="comment-reply-title">Leave a Reply </h3>
                      <span class="email-notes">Your email address will not be published. Required fields are marked *</span>
                      <form action="#">
                        <div class="row">
                          <div class="col-lg-4 col-md-4">
                            <p>Name *</p>
                            <input type="text" />
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <p>Email *</p>
                            <input type="email" />
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <p>Website</p>
                            <input type="text" />
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                            <p>Website</p>
                            <textarea id="message-box" cols="30" rows="10"></textarea>
                            <input type="submit" value="Post Comment" />
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- single-blog end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Blog Page -->

{% endblock %}