{% load static %}

    <!-- ======= About Section ======= -->
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>Hello! I'm Zoe. I've been passionate about web development since I was a teenager, I couldn’t get enough. 
            I had to be self-taught because I couldn't attend courses in my small town. I made websites for friends and family, and hired myself out as a freelancer. 
            I’m looking forward to bringing that passion to a full-time role. <br>Feel free to contact me!</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Certified Tech Developer</h3>
            <p class="font-italic">
              <em>I'm currently studying this two year career, thought and designed by <strong>Mercado Libre</strong> & <strong>Globant</strong> along with <strong>Digital House</strong>, 
              where we apply <strong>technical knowledge</strong> and a series of fundamental <strong>soft skills</strong> in order to insert ourselves in the job market.</em>
            </p>
            <p>Here's more information about me:</p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> 21 May 1998</li>
                  <!--<li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.example.com</li>-->
                  <li><i class="bi bi-chevron-right"></i><strong>Phone:</strong> +54 9 364-4543611</li>
                  <li><i class="bi bi-chevron-right"></i><strong>City:</strong> P. R. Sáenz Peña, Chaco, Arg.</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i><strong>Age:</strong> 22</li>
                  <!--<li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Student</li>-->
                  <li><i class="bi bi-chevron-right"></i><strong>Email:</strong> zoesobol98@gmail.com</li>
                  <li><i class="bi bi-chevron-right"></i><strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <p>
              Besides programming, I love spending time with friends and family and can often be found together going out catching the latest movie, 
              staying in playing games or planning a trip to someplace I've never been before.
            </p>
            <p>
              In my spare time, the web development community is a big part of my life. I spend a lot of time learning new techniques and actively helping other people 
              through Reddit. This is also my chance to give back to the community that helped me get started, a place I am proud to be part of. 
            </p>
          </div>
        </div>

      </div>

