{% load static %}

<div class="container">

  <div class="section-title">
    <h2>Contact</h2>
    <p></p>
  </div>

  <div class="row" data-aos="fade-in">


    <div class="col-lg-5">

      <div class="row">
        <div class="col-md-12">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://www.linkedin.com/in/zoesobol/" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="https://www.github.com/zoesobol/" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.twitter.com/zoesobol_" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.instagram.com/zoesobol_" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-box mt-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Me!</h3>
            <p>zoesobol98@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-box mt-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me!</h3>
            <p>+54 9 364-4543611</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="form-group col-md-6">
            <input type="text" name="name" class="form-control" placeholder="Your name" id="name" required>
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" name="email" placeholder="Your email" id="email" required>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" placeholder="Subject" id="subject" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Your message" name="message" rows="6" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>
    </div>

  </div>

</div>