{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-left justify-content-center" data-aos="zoom-in" data-aos-delay="100">
      
      <h1>Zoe Sobol</h1>
      <p>I'm a <span class="typed" data-typed-items="Full-Stack Web Developer"></span></p>
      <a href="{% url 'about' %}" class="btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->

{% endblock %}