{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Full-Stack Developer equipped with a diverse and promising skill-set. Proficient in an assortment of
            technologies, including Python, Django, Javascript, HTML and CSS. Able to effectively collaborate in a
            team setting. Eager to learn new technologies.
            </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Zoe Sobol</h4>
              <p><em>Innovative Full-Stack Web Developer and Designer with experience developing web apps in Python, Django, Javascript, HTML and CSS.</em></p>
              <p>
              <ul>
                <li>Presidencia Roque Sáenz Peña, Chaco, Arg.</li>
                <li>+54 9 364-4543611</li>
                <li>zoesobol98@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Web Developer & Community Manager</h4>
              <h5>2020 - Present</h5>
              <p><em>Trailer Park Grow</em></p>
              <p>
              <ul>
                <li>Developed an e-commerce website for the company.</li>
                <li>Dedicated to managing social media.</li>
                <li>Handled communication with customers.</li>
              </ul>
              </p>
            </div>

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Certified Tech Developer</h4>
              <h5>2021 - Present</h5>
              <p><em>MercadoLibre & Globant</em></p>
              <p>Two-year career</p>
            </div>
            <div class="resume-item">
              <h4>Web Development Course</h4>
              <h5>2020</h5>
              <p><em>Informatorio - Globant, Polo IT, UTN, UNCAus</em></p>
              <p>4-month course that teaches Web Development using techonologies such as Python, Django and SQL.</p>
            </div>
            <div class="resume-item">
              <h4>First Certificate in English</h4>
              <h5>2014</h5>
              <p><em>Cambridge University</em></p>
              <p>Obtained a grade A. (86%)</p>
            </div>
            

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

{% endblock %}